@model IEnumerable<UserLoginCRUDWebApp.Models.UserComment>
@*IEnumerable means this is a list of usercomment objects*@
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentDescription)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@*GENERATE EACH ROW OF THE TABLE*@
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDescription)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
